<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <title>Welcome to AirsoftRusScrapper</title>
  </head>
  <body>
    <h1>This site scrapes AirsoftRus for cheapest item in category of your choose</h1>
    <p>Click the button to proceed to scrapping</p>
    <br>
    <br>
    <form class = "grid" action = "/result">
        <button class="buttonClass" name="hidden" value="Распродажа" type="submit">Распродажа</button>
        <button class="buttonClass" name="hidden" value="Хит продаж" type="submit">Хит Продаж</button>
    </form>
    <br>
  </body>
</html>