<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <title>Result of Scraping</title>
  </head>
  <body>
    <h1>The cheapest item based on your choice of category is:</h1>
    <br>
    <p>Товар: {{item}}</p>
    <p>Цена товара с учетом скидки: {{price}} р.</p>
    <p>Скидка на товар: {{discount}}%</p>
    <br>
    <br>
    <form class = "grid" action = "/">
        <button class="buttonClass" type="submit">Назад</button>
    </form>
    <br>
  </body>
</html>